In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('tennis.csv')

In [59]:
data

     outlook  temp humidity  windy play
0      sunny   hot     high  False   no
1      sunny   hot     high   True   no
2   overcast   hot     high  False  yes
3      rainy  mild     high  False  yes
4      rainy  cool   normal  False  yes
5      rainy  cool   normal   True   no
6   overcast  cool   normal   True  yes
7      sunny  mild     high  False   no
8      sunny  cool   normal  False  yes
9      rainy  mild   normal  False  yes
10     sunny  mild   normal   True  yes
11  overcast  mild     high   True  yes
12  overcast   hot   normal  False  yes
13     rainy  mild     high   True   no

In [5]:
def get_info_gain(data,attribute):
    get_count_of_unique_values_for_column(attribute)

In [48]:
def get_count_of_unique_values_for_column(column_name):
    x = data[column_name].value_counts()
    return list(zip(x.index,x.values))

In [51]:
data['play']

0      no
1      no
2     yes
3     yes
4     yes
5      no
6     yes
7      no
8     yes
9     yes
10    yes
11    yes
12    yes
13     no
Name: play, dtype: object

In [52]:
aux = {}
attrib = 'humidity'
target = 'play'
for i in range(0,len(data)):
    atrrib_value_at_i = data.iloc[i][attrib]
    if attrib_value not in aux:
        aux[attrib]={}
        for unique_value in target_class:
            aux[attrib][unique_value] = 0
    target_value_at_i = data.iloc[i][target]
    aux[attrib][]

In [55]:
[data.iloc[1]['play']]

'high'

In [58]:
for x in set(data.iloc[:,-1]):
    print(x)

no
yes